<h3>{{title}}</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            Id:
        </dt>
        <dd>
            {{student.Id}}
        </dd>
        <dt>
            Name:
        </dt>
        <dd>
            {{student.Name}}
        </dd>
        <dt>
            Phone:
        </dt>
        <dd>
            {{student.Phone}}
        </dd>
        <dt>
            Address:
        </dt>
        <dd>
            {{student.Address}}
        </dd>
        <dt>
            DepartmentId:
        </dt>
        <dd>
            {{student.DepartmentId}}
        </dd>
        <dt>
            CourseId:
        </dt>
        <dd>
            {{student.CourseId}}
        </dd>
    </dl>
</div>

<button type="button" class="btn btn-light"><a href="#home">Got to home</a></button>