<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>

<p>
    <span>Name</span><input type="text" ng-model="name" />
    <span>Phone</span><input type="text" ng-model="phone" />
    <span>Adress</span><input type="text" ng-model="address" />
    <span>DepartmentId</span><input type="text" ng-model="departmentId" />
    <span>CourseId</span><input type="text" ng-model="courseId" />
</p>
<p>
    <span>{{notification}}</span>
    <button ng-click="save()">Save</button>
</p>

<!--<span>{{name}}</span>

<table style="border:1px solid;">
    <tr>
        <th>Id</th>
        <th>Dept Name</th>
        <th>Roll</th>
        <th>Group</th>
    </tr>
    <tr ng-repeat="d in departments">
        <td>{{d.Id}}</td>
        <td>{{d.DeptName}}</td>
        <td>{{d.Roll}}</td>
        <td>{{d.Group}}</td>
    </tr>
</table>-->